body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FF9900;
    padding: 10px 20px;
}

header nav {
    display: flex;
    justify-content:stretch;
    align-items: center;
}

header nav input {
    padding: 5px;
    margin-right: 10px;
}

header nav button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

header nav a {
    color: white;
    text-decoration: none;
}


.logo-container1 img {
    width: 150px;
    margin-right: 20px;
}

.pesquisa{
    border-radius: 10px;
    border: 2px;
    align-items:start;
    width: 700px;
    height: 30px;

}


.submit {
    background-color: #ff8c00; 
    color: white; 
    font-weight: bold; 
    font-size: medium;
    border: 2px solid white;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3); 
    padding: 10px 10px;
    margin-right: 30px;
}
.submit img{
    width: 25px;
}

.logo-container {
    text-align: center;
    margin: 20px 0;
}

.logo-container img {
    width: 400px;
}

.categories {
    background-color: #FFF0CC;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.categories a {
    color: rgb(213, 101, 31);
    text-transform: uppercase;
    text-decoration: none;
}

.recipes {
    padding: 20px;
}

.recipes h1 {
    text-align: left;
    color: #FF9900;
    margin-bottom: 25px;
    font-size: 250%;
}

.recipe {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    margin-bottom: 50px;
}

.recipe img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.recipe-details {
    flex-grow: 1;
    text-align: justify;
}

.recipe-details h2 {
    margin: 0;
    color: #FF9900;
    font-size: 170%;
    cursor: pointer;
}

.recipe-details p {
    margin: 2px;
   
}

.recipe-details a{
    color:#FF9900;

}

.recipe-details span {
    display: block;
    color: grey;
    margin-top: 5px;
}

.favorite {
    color: #FF9900;
    padding: 5px 10px;
}


