body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}


.categories {
    background-color: #FFF0CC;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.categories a {
    color: rgb(213, 101, 31);
    text-transform: uppercase;
    text-decoration: none;
}


.submit-recipe {
  background-color: #ffa726;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.recipe-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ff9800;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.time-input {
  display: flex;
  gap: 10px;
}

.time-input input {
  width: 50%;
}

button.create-recipe {
  background-color: #ff9800;
  border: none;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}
