.container-r {
    margin-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.recipe-header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.recipe-header h1 {
    color: #ff8c00;
}

.recipe-details {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.description,
.ingredients,
.preparation {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ff8c00;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    margin-bottom: 20px;
}


.block-title {
    font-size: 40px;
    color: #ff8c00;
}

.bi {
    color: #ff8c00;
}

.bi-person-circle {
    font-size: 60px;
    margin-left: 50px;
}

.text-icons {
    font-size: 30px;
}